@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model Spel


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@*! to refresh the page via html  *@
@* <head> *@
@*     <meta http-equiv="refresh" content="6"> *@
@* </head> *@
@*! -end- *@

<h1>Spelen</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}


<script src="~/js/app.js"></script>


<script type="text/javascript">
    
    $(document).ready(function () {
    
        
        var token = '@Model.Token';
         
         
    
        Game.Reversi.init(token);
        Game.Reversi.refreshBoard(token);
        setInterval(function() {
            Game.Reversi.refreshBoard(token);
        }, 8000);
        console.log(token)
        
        
    
        // Listen for the aanDeBeurtUpdated event
        document.addEventListener('aanDeBeurtUpdated', function (e) {
            var aanDeBeurt = e.detail == 1 ? 'Wit' : 'Zwart';
            console.log("Nu aan de Beurt: " + aanDeBeurt);
            document.getElementById('reversi-turn').textContent = aanDeBeurt;
        });

        
        



        

    
    });
</script>


<form asp-controller="Spellen" asp-action="Leave" asp-route-spelToken="@Model.Token">
    <button type="submit" id="leavegame" class="btn btn-danger" onclick="return confirm('Verlaten is automatische win voor je tegenstander, is dat wat je wil?')">
        Verlaten
    </button>
</form>

<br/>
<form asp-controller="Spellen" asp-action="Pass" asp-route-spelToken="@Model.Token">
    <button type="submit" id="PassButton" class="btn btn-danger" onclick="return confirm('Wil je passen?')">
        Pass
    </button>
</form>


<br/>
<div id="gameOverModal" class="modal" style="display: none">
    <div class="modal-content">
        <h2 id="gameOverMessage"></h2>
        <form asp-controller="Spellen" asp-action="Result" method="post" asp-route-token="@Model.Token" asp-route-winner="white">
            <button type="submit" id="ResultButton" class="btn btn-danger">
                Score bekijken
            </button>
        </form>
    </div>
</div>


<br/>
<div class="reversi-turn">
    <p>
        Nu aan de beurt:
        <strong id="reversi-turn">
            <script>$(document).ready(function (){document.getElementById('reversi-turn').textContent = Game.Reversi.aanDeBeurt;});</script>
        </strong>
    </p>
</div>


<div class="fish-container">
    <div class="white-count">
        <div class="fisch fisch--white">
            <strong id="white-counter">
                <script>
                    $(document).ready(function (){
                    document.getElementById('white-counter').textContent = Game.Reversi.getWhiteCount();
                    }) 
                </script>
            </strong>
        </div>
        <p>
            Wit

        </p>
    </div>

    <div class="reversi-board"></div>

    <div class="black-count">
        <div class="fisch fisch--black">
            <strong id="black-counter">
                <script>
                    $(document).ready(function (){
                        document.getElementById('black-counter').textContent = Game.Reversi.getBlackCount();
                    })
                </script>
            </strong>
        </div>
        <p>
            Zwart
        </p>
    </div>
</div>


@*! using viewBag, it works, but it goes a bug inside the putZet and cuz a "Je speelt voor jebeurt!" error  *@
<div>
    u bent:
    <strong>
        <h2>
            @{
                string Currentuser = this.User?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                string uBent = string.Empty;
                if (@Model.Speler1Token == Currentuser && @Model.Speler1Token != null)
                {
                    uBent = "Wit";
                }
                else if (@Model.Speler2Token == Currentuser && @Model.Speler2Token != null)
                {
                    uBent = "Zwart";
                }
            }
            @uBent
        </h2>


    </strong>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
}