@using Microsoft.AspNetCore.Components.RenderTree
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">

    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">


    <title>@ViewData["Title"] - ReversiMVCApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/ReversiMVCApp.styles.css" asp-append-version="true" /> *@

    @*! to enable the Styles inside the spellen view for the css, otherwise the Styles will be unable to resolve [error] *@
    @RenderSection("Styles", required: false)
    @* @RenderSection("AdditionalMeta", required: false) *@

    <link rel="stylesheet" href="~/css/style.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">ReversiMVCApp</a>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Spellen" asp-action="Index">Spellen Lijst</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Spelers" asp-action="Index">Spelers Lijst</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Spellen" asp-action="BusyGames">Continue Your game!</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>

                <div>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-outline-primary bg-black" href="@Url.Action("Index", "Admin")">Go to Admin Sittings!</a>
                        }
                    }
                </div>
                <br/>
                
                <br/>
                <div>
                    <partial name="_LoginPartial"/>

                </div>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - ReversiMVCApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>